@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --black: #232931;
    --grey: #393e46;
    --green: #4ecca3;
    --white: #eeeeee;
    --inverted-black: #dcd6ce;
    --inverted-grey: #c6c1b9;
    --inverted-white: #111111;
    --inverted-green: #b1335c;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--green);
    border-radius: 10px;
    box-shadow: 0 0 5px var(--black) inset,
                0 0 3px var(--grey) inset;
}

::-webkit-scrollbar-thumb:hover {
    box-shadow: 0 0 8px var(--black) inset,
                0 0 5px var(--grey) inset;
}

body {
    transition: 0.3s;
    overflow-x: hidden;
    overflow: overlay;
}

::selection {
    background: var(--green);
}

/*Navbar and other stuffs*/

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 5% 0 10%;
    width: 100%;
    height: 70px;
    background: var(--black);
    box-shadow: 0 1px 10px rgba(0,0,0,0.2);
    overflow: hidden;
}

.logo {
    color: var(--white);
    font-size: 28px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.nav-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    top: 0;
    z-index: 2;
    width: calc(100% - 50px);
    height: 100%;
    right: calc(-100%  + 50px);
    background: var(--grey);
    position: fixed;
    padding-top: 70px;
    transition: 0.5s;
}

.nav-items {
    width: 100%;
}

.nav-items a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    color: var(--white);
    font-size: 18px;
    font-weight: 600;
    border-top: 2px solid rgba(255,255,255,0.4);
    transition: 0.3s;
}

/*Toggle: White - Black etc.*/

.line-1 {
    width: 100%;
    height: 2px;
    background: rgba(255,255,255,0.4);
}

#toggle {
    width: 50px;
    height: 25px;
    background: var(--white);
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(0,0,0,0.9) inset;
    position: relative;
    bottom: -20px;
    transition: 0.3s;
    cursor: pointer;
}

#circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    left: 0;
    position: absolute;
    background: var(--black);
    transform: scale(0.85);
    box-shadow: 0 0 2px rgba(255,255,255,0.8) inset;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

html.active {
    overflow: hidden;
}

#toggle.active {
    background: var(--grey);
    box-shadow: 0 0 5px rgba(0,0,0,0.9) inset;
}

#toggle.active #circle {
    left: 25px;
    background: var(--white);
    box-shadow: 0 0 2px rgba(0,0,0,0.8) inset;
}

body.active .box-1, body.active .box-3, body.active .footer-btn, 
body.active .footer-btn-2, body.active .footer-cr {
    background: var(--inverted-black);
}

body.active .box-2, body.active .a-3::before,  body.active .a-3::after, 
body.active .text-box-1, body.active .footer, body.active .a-3 {
    background: var(--inverted-grey);
}

body.active .a-3 {
    border-color: var(--green);
}

body.active .a-1, body.active .a-2, body.active .p-1, body.active .p-3, 
body.active .a-3, body.active .h1, body.active .h1-2, body.active .h1-3,
body.active .h2-1, body.active .h3, body.active .fa-solid, body.active .p-6 {
    color: var(--inverted-white);
}

body.active .p-4, body.active .p-5, body.active .a-5 {
    color: rgba(0,0,0,0.65);
}

body.active .h1-2::before {
    background: var(--inverted-white);
}

body.active .a-1 {
    background: var(--white);
}

body.active a.a-3 {
    border-color: var(--green);
}

/*Hamburger menu*/

.toggle {
    position: absolute;
    right: 5%;
    width: 36px;
    height: 36px;
    z-index: 4;
    cursor: pointer;
    opacity: 0;
    bottom: 15px;
}

.hamburger {
    position: relative;
    width: 25px;
    height: 4px;
    border-radius: 15px;
    background: var(--white);
    z-index: 3;
    cursor: pointer;
    right: 5%;
    cursor: pointer;
    transition: 0.1s;
}

.hamburger::before, .hamburger::after {
    content: "";
    position: absolute;
    height: 4px;
    border-radius: 15px;
    cursor: pointer;
    background: var(--white);
    z-index: 3;
    transition: 0.6s;
}

.hamburger::before {
    top: -10px;
    width: 30px;
    right: 0;
}

.hamburger::after {
    top: 10px;
    width: 28px;
    right: 0;
}

nav .navigation input:checked ~ .hamburger {
    background: transparent;
}

nav .navigation input:checked ~ .hamburger::before {
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}

nav .navigation input:checked ~ .hamburger::after {
    top: 0;
    transform: rotate(45deg);
    width: 30px;
}

nav .navigation input:checked ~ .nav-list {
    right: 0;
    box-shadow: -1px 0 10px rgba(0,0,0,0.6);
}

/*SECTION 1*/

/*Box 1*/

.box-1 {
    width: 100%;
    overflow: hidden;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    gap: 20px;
    background: var(--black);
}

/*Content 1*/

.content-box-1 {
    width: 100%;
    height: auto;
    padding: 30px 20px;
    display: grid;
    gap: 20px;
}

.h1 {
    color: var(--white);
    font-size: 32px;
    font-weight: 600;
    transition: 0.3s;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 0.2s;
}

.p-1 {
    color: var(--white);
    font-size: 18px;
    transition: 0.3s;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 0.7s;
}

.span-1 {
    color: var(--green);
}

.buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.a-1 {
    color: var(--white);
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    transition: .3s ease-in-out;
}

.a-2 {
    width: 100px;
    height: 40px;
    border-radius: 15px;
    background: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-weight: 600;
    box-shadow: 0 0 5px var(--green);
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.3s;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

.span-2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: var(--white);
    opacity: 0.15;
    position: absolute;
    right: -50px;
    top: -20px;
    cursor: pointer;
    transition: 0.3s;
}

/*Content 2*/

.content-box-2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img1 {
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: drop-shadow(0 2px 5px var(--green));
    animation: zoomIn 1s ease forwards, imageMoving 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}

/*SECTION 2*/

.box-2 {
    width: 100%;
    overflow: hidden;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 20px 0;
    gap: 20px;
    background: var(--grey);
    transition: 0.3s;
}

.content-box-3 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.h1-2 {
    color: var(--white);
    font-size: 32px;
    position: relative;
    transition: 0.3s;
}

.h1-2::before, .h1-2::after {
    content: "";
    position: absolute;
    height: 3px;
    border-radius: 15px;
}

.h1-2::before {
    width: 100%;
    background: var(--white);
    bottom: 0;
    z-index: 1;
}

.h1-2::after {
    width: 75%;
    background: var(--green);
    transform: rotate(-5deg);
    bottom: -5px;
    right: 0;
}

.span-3, .span-5 {
    color: var(--green);
}

.content-box-4 {
    width: 100%;
    height: auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.text-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.a-3 {
    width: 130px;
    height: 50px;
    border-radius: 20px;
    color: var(--white);
    font-weight: 600;
    display: flex;
    border: 3px solid var(--green);
    background: var(--grey);
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.a-3::before, .a-3::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 3px solid var(--green);
    border-radius: 5px;
    background: var(--grey);
    transition: 0.5s ease-in-out;
}

.a-3::before {
    left: 25px;
    top: -10.5px;
}

.a-3::after {
    right: 25px;
    bottom: -10.5px;
}

.p-3 {
    color: var(--white);
    font-size: 18px;
    transition: 0.3s;
    text-align: left;
    transition: 0.3s;
}

.content-2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.img2 {
    width: 120%;
    height: 120%;
}

/*SECTION 3*/

/*Box 3*/

.box-3 {
    width: 100%;
    overflow: hidden;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px 0 30px 0;
    gap: 30px;
    background: var(--black);
    transition: 0.3s;
}

.content-box-5 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.h1-3 {
    color: var(--white);
    font-size: 32px;
    position: relative;
    transition: 0.3s;
}

.content-box-6 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    gap: 30px;
}

.text-box-1 {
    width: 100%;
    height: auto;
    background: var(--grey);
    padding: 20px;
    border-radius: 10px;
    display: grid;
    gap: 10px;
    transition: 0.4s ease;
}

.text-content-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px 0;
    width: 100%;
    gap: 10px;
}

.text-content-2 {
    display: grid;
    place-items: center;
    gap: 20px;
}

#icons {
    font-size: 32px;
    color: var(--green);
}

.h2-1 {
    font-size: 30px;
    color: var(--white);
}

.p-4 {
    color: rgba(255,255,255,0.5);
    text-align: center;
}

.btn-1 {
    width: 80px;
    height: 50px;
    transform: skew(-5deg);
    border-radius: 10px;
    background: var(--green);
    cursor: pointer;
}

.a-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;;
    color: var(--black);
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 700;
    transform: skew(5deg);
}

.a-4::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    transform: skew(-5deg);
    border-radius: 10px;
    left: 0;
    background: var(--white);
    opacity: 0;
    transition: 0.4s ease;
}

/*FOOTER*/

.footer {
    width: 100%;
    height: auto;
    background: var(--grey);
    padding: 20px 50px 20px 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
    overflow: hidden;
    transition: 0.3s;
    position: relative;
}

.footer-box {
    display: grid;
    gap: 10px;
}

.h3 {
    font-size: 20px;
    color: var(--white);
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}

.h3::before {
    content: "";
    position: absolute;
    width: 90px;
    height: 1.75px;
    background: var(--green);
    bottom: -1.75px;
    transform: skew(-45deg);
}

.p-5, .a-5 {
    display: grid;
    color: rgba(255,255,255,0.5);
    position: relative;
    transition: 0.5s ease;
}

.footer-btn {
    position: absolute;
    bottom: 25px;
    right: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;
}

.footer-btn::before, .footer-btn::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background: linear-gradient(0deg, transparent, transparent, var(--green), var(--green), var(--green));
}

.footer-btn::before {
    top: 0;
    left: 0;
    transform-origin: bottom right;
    animation: btn-before 5s linear infinite;
}

.footer-btn::after {
    top: 0;
    left: 0;
    transform-origin: bottom right;
    animation: btn-after 5s linear infinite;
    animation-delay: -2.5s;
}

.footer-btn-2 {
    position: absolute;
    background: var(--black);
    width: 46px;
    height: 46px;
    border-radius: 50%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-weight: 700;
    color: var(--white);
}

.footer-cr {
    background: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    font-size: 15px;
    overflow: hidden;
    color: var(--white);
}

/*KEYFRAMES*/

@keyframes imageMoving {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-24px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    } 
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    } 
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    } 
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes btn-before {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes btn-after {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*480px*/

@media (min-width: 480px) {
    
    .nav-list {
        width: 430px;
        right: -430px;
    }

    /*Box 1*/

    .box-1 {
        padding: 50px 0;
    }
    
    /*Content 1*/
    
    .content-box-1 {
        padding: 15px 2% 15px 10%;
    }
    
    .h1 {
        font-size: 36px;
    }
    
    .buttons {
        gap: 20px;
    }
    
    .a-2 {
        width: 120px;
        height: 45px;
        font-size: 18px;
        font-weight: 600;
    }

    .span-2 {
        right: -45px;
        top: -15px;
    }
    
    /*Content 2*/

    .content-box-2 {
        width: 90%;
    }
    
    .img1 {
        width: 100%;
        height: 100%;
    }

    /*SECTION 2*/
    
    .content-box-3 {
        padding: 15px 0;
    }
    
    .content-box-4 {
        padding: 0 35px;
    }
    
    .content-2 {
        padding: 0 35px;
    }
    
    .img2 {
        width: 110%;
        height: 110%;
    }

    .h1-2::before, .h1-2::after {
        height: 4px;
    }
    
    .h1-2::after {
        bottom: -5.5px;
        transform: rotate(-6deg);
    }

    /*SECTION 3*/
    
    .content-box-6 {
        padding: 0 35px;
    }
    
    .text-box-1 {
        padding: 25px;
    }

    /*FOOTER*/

    .footer {
        padding: 20px 60px 20px 60px;
    }
    
    .footer-btn {
        bottom: 30px;
        right: 30px;
    }

}

/*768px*/

@media (min-width: 768px) {

    .hamburger, .toggle {
        display: none;
    }

    .nav-items {
        width: auto;
    }
    
    .nav-list {
        justify-content: center;
        flex-direction: row;
        gap: 10px;
        width: auto;
        height: auto;
        right: auto;
        background: transparent;
        position: static;
        padding-top: 0;
    }
    
    .nav-items a {
        padding: 5px 10px;
        border-top: none;
    }
    
    /*Toggle: White - Black*/
    
    .line-1 {
        display: none;
    }

    #toggle {
        width: 50px;
        bottom: 0;
    }
    
    /*Content 1*/
    
    .buttons {
        gap: 25px;
    }
    
    /*Content 2*/
    
    .img1 {
        width: 80%;
        height: 80%;
    }

    /*SECTION 2*/
    
    .content-box-3 {
        padding: 20px 0;
    }
    
    .content-box-4 {
        padding: 0 50px;
    }
    
    .content-2 {
        padding: 0 50px;
    }
    
    .img2 {
        width: 90%;
        height: 90%;
    }

    .h1-2::before, .h1-2::after {
        height: 5px;
    }

    .h1-2::after {
        bottom: -8px;
        transform: rotate(-7deg);
    }

    .text-1 {
        gap: 30px;
    }

    /*SECTION 3*/

    .box-3 {
        padding: 20px 0 35px 0;
    }
    
    .content-box-5 {
        padding: 15px 0;
    }
    
    .content-box-6 {
        padding: 0 80px;
        gap: 40px;
    }
    
    .text-box-1 {
        padding: 30px;
    }

    /*FOOTER*/

    .footer {
        padding: 50px 80px;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        gap: 80px;
    }

    
    .footer-btn {
        bottom: 50px;
        right: 80px;
    }

}

/*992px*/

@media (min-width: 992px) {
    
    .nav-list {
        gap: 15px;
    }
    
    .nav-items a {
        padding: 5px 15px;
    }

    .nav-items a:hover, .logo:hover {
        color: var(--green);
    }

    /*Box 1*/

    .box-1 {
        flex-direction: row;
        padding: 75px 0;
    }
    
    /*Content 1*/

    .content-box-1 {
        gap: 30px;
    }

    .h1 {
        font-size: 40px;
    }
    
    .buttons {
        gap: 25px;
    }

    .a-1:hover, body.active .a-1:hover {
        background: var(--green);
        transform: scale(1.15);
        box-shadow: 0 0 8px var(--green);
    }
    
    .a-2 {
        width: 130px;
        height: 50px;
        font-size: 20px;
        font-weight: 600;
    }

    .span-2 {
        right: -40px;
        top: -10px;
    }

    .a-2:hover .span-2 {
        transform: scale(1.7);
        opacity: 0.3;
    }

    .box-2 {
        padding: 25px 0;
    }
    
    .content-box-3 {
        padding: 25px 0;
    }
    
    .h1-2 {
        font-size: 40px;
    }
    
    .content-box-4 {
        padding: 0 70px;
        flex-direction: row-reverse;
    }

    .text-1 {
        width: 80%;
    }

    .p-3 {
        font-size: 22px;
    }
    
    .content-2 {
        width: 80%;
        padding: 0;
    }
    
    .img2 {
        width: 110%;
        height: 110%;
    }

    .text-1 {
        gap: 25px;
    }

    .h1-2::after {
        bottom: -9px;
        transform: rotate(-7deg);
    }

    .a-3 {
        border: 3px solid rgba(255,255,255,0.15);
    }

    body.active .a-3 {
        border: 3px solid rgba(0,0,0,0.45);
    }

    body.active .a-3:hover {
        border-color: var(--green);
    }

    .a-3:hover {
        border-color: var(--green);
    }

    .a-3:hover:before {
        left: 85px;
    }

    .a-3:hover::after {
        right: 85px;
    }

    /*SECTION 3*/

    .box-3 {
        padding: 25px 0 45px 0;
    }
    
    .content-box-5 {
        padding: 20px 0;
    }
    
    .h1-3 {
        font-size: 40px;
    }
    
    .content-box-6 {
        flex-direction: row;
        padding: 0 30px;
        gap: 20px;
    }
    
    .text-box-1 {
        padding: 25px;
    }

    .text-box-1:hover {
        box-shadow: 0 0 10px var(--green),
                    0 0 10px var(--green);
    }
    
    #icons {
        font-size: 34px;
    }
    
    .h2-1 {
        font-size: 32px;
    }
    
    .p-4 {
        font-size: 18px;
    }
    
    .btn-1 {
        width: 100px;
        height: 55px;
    }
    
    .a-4 {
        font-size: 20px;
    }

    .a-4:hover:before {
        width: 100%;
        opacity: 0.3;
    }

    /*FOOTER*/

    .footer {
        padding: 50px 90px;
        gap: 90px;
    }
    
    .footer-box {
        gap: 12px;
    }
    
    .h3 {
        font-size: 22px;
    }
    
    .h3::before {
        width: 95px;
        height: 2.5px;
        bottom: -2.5px;
    }
    
    .p-5, .a-5 {
        font-size: 18px;
    }

    .a-5::before {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        border-radius: 10px;
        background: rgba(255,255,255,0.7);
        transition: 0.5s ease;
        bottom: 0;
        left: 0;
    }

    .a-5:hover:before {
        width: 50px;
    }

    body.active .a-5::before {
        background: rgba(0,0,0,0.3);
    }
    
    .footer-btn {
        right: 90px;
    }

    .footer-btn:hover, body.active .footer-btn:hover {
        background: var(--green);
    }

}

/*1200px*/

@media (min-width: 1200px) {

    .nav-list {
        gap: 20px;
    }
    
    .nav-items a {
        padding: 10px 15px;
    }

    .box-1 {
        flex-direction: row;
        padding: 100px 0;
    }
    
    /*Content 1*/

    .content-box-1 {
        gap: 30px;
    }

    .h1 {
        font-size: 50px;
    }
    
    .buttons {
        gap: 30px;
    }
    
    .a-2 {
        font-size: 21px;
    }

    .box-2 {
        padding: 30px 0;
    }
    
    .content-box-3 {
        padding: 30px 0;
    }
    
    .h1-2 {
        font-size: 48px;
    }
    
    .content-box-4 {
        padding: 0 80px;
    }

    .text-1 {
        width: 50%;
    }
    
    .content-2 {
        width: 50%;
    }
    
    .img2 {
        width: 110%;
        height: 110%;
    }

    /*SECTION 3*/

    .box-3 {
        padding: 30px 0 55px 0;
    }
    
    .content-box-5 {
        padding: 25px 0;
    }
    
    .h1-3 {
        font-size: 48px;
    }
    
    .content-box-6 {
        padding: 0 50px;
        gap: 30px;
    }
    
    .text-box-1 {
        padding: 30px;
    }

    /*FOOTER*/

    .footer {
        padding: 50px 100px;
        gap: 100px;
    }
    
    .footer-box {
        gap: 15px;
    }
    
    .footer-btn {
        right: 100px;
    }

}